.inHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.par{
  font-size: 20px;
  color: darkgrey;
  margin-right: 10px;
 }
.dark-theme{
  color: snow;
}
a{
  text-decoration: none;
   color: black;
}
.name{
  text-shadow: 1px 1px 2px black, 0 0 1em snow;
  font-size: 40px;
  margin-left: 10px;
}
.name :hover {
  color: darkgrey;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
}
.theme{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100px;
}
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 45px;
  background: #B3B3B3;
  display: block;
  border-radius: 80px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 35px;
  height: 35px;
  background: gray;
  border-radius: 40px;
  transition: 0.3s;
}

input:checked + label {
  background: #333333;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background: #0e0000;
}

label:active:after {
  width: 50px;
}
