.postStar {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0e0000;
}

.image {
  width: 170px;
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  height: 260px;
  align-items: center;
}


.beetwin {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 60px;
  width: 170px;
  color: black;
}

p {
  margin: 0;
  color: darkgrey;
}

.right {
  display: flex;
  justify-content: flex-end;
}
.dark-theme{
  color: snow;
  background: #0e0000;
}

.ashka {
  display: flex;
  justify-content: center;
  margin: 0 5px 0 5px;
  font-size: 14px;

}

a:hover {
  text-decoration: underline;
  color: darkred;
  font-size: 15px;
}
a{
  text-decoration: none;

}
.dark{
  color: darkred;
  text-decoration: none;
}
