

.popular{

  display: flex;
  justify-content: space-around;
}
img {
  width: 150px;
  min-width: 100px;
}
span{
  font-size: 30px;
  padding-left: 90px ;
  margin-bottom: 10px;
}

.scale {
  transition: 0.5s;
}
.scale:hover {
  transform: scale(1.1);
}
.holder{
  position:relative;
  width: 160px;
  height: 235px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D0D4DC;
}
.block{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  background:rgba(255,255,255, 0.7);
  padding:20px;
  display:none;
}
.holder:hover .block{
  display:block;
}
