<div *ngIf="filmInfo">
  <div class="title"><b>{{filmInfo.title}}</b></div>
  <div class="atPoster">
    <div class="left">
      <div class="poster">
        <img src="{{poster + filmInfo.poster_path}}" width="300px" height="450px" alt="{{filmInfo.title}}">
      </div>
    </div>
    <div class="right">
      <div class="inRight">
        <div class="rightPanel"><b>Rating :</b>
          <p>{{filmInfo.vote_average}}</p></div>
        <div class="rightPanel"><b>Release date :</b>
          <p>{{filmInfo.release_date}}</p></div>
        <div class="rightPanel"><b>Country :</b>
          <div><p *ngFor="let cou of filmInfo.production_countries">{{cou.name}}<br></p></div>
        </div>
        <div class="rightPanel"><b>Kino company :</b>
          <div><p class="marg" *ngFor="let com of filmInfo.production_companies">{{com.name}}<br></p></div>
        </div>
        <div class="rightPanel"><b>Budget :</b>
          <p>{{filmInfo.budget}}</p></div>
        <div class="rightPanel">
          <b>Genres :</b>
          <div>
            <a *ngFor="let g of filmInfo.genres" [routerLink]="['/movie']" [queryParams]="{ with_genres: g.id}"
               queryParamsHandling="merge"><span class="span">{{g.name}}</span><br></a>
          </div>
        </div>
        <div class="rightPanel"><b>Popularity :</b>
          <p>{{filmInfo.popularity}}</p></div>
        <div class="rightPanel"><b>Time :</b>
          <p>{{filmInfo.runtime}}</p></div>
      </div>
    </div>
  </div>
  <div>
    <div class="underFoto">
      <p class="what">What the movie is about "{{filmInfo.title}}" :</p>
      <p class="overview">{{filmInfo.overview}}</p>
    </div>
  </div>
  <div class="onVideo">
    <div class="video">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/KZjJ-CHmirU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="raiting">
    <div style="margin-left: 30px"><span><b>Raiting :   </b> </span><span>{{filmInfo.vote_average}}</span></div>
    <div>
      <ul class="list-inline rating-list" style="padding-left: 0" *ngFor="let star of stars; let i= index">
        <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)"
            (mouseout)="removeClass()"><span class="material-icons">star</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="form">
    <p class="formChapter"><b>Your review of the online movie and soundtrack:</b></p>
    <form class="formich" [formGroup]="form">
      <div><label><b></b><input class="input" type="search" formControlName="find"></label></div>
      <div class="bttom">
        <div><label><b>name: </b><input class="inputTwo" type="search" formControlName="people"></label></div>
        <div><b><a class="bot1" (click)="comment()">Enter</a></b></div>
      </div>
    </form>
    <div>
      <div *ngFor="let p of useForm" class="coma">
        <div class="people"><b>{{p?.people}}</b></div>
        <div>{{p?.find}}</div>
      </div>
    </div>
  </div>
</div>
